<html>
<head>
<title>Login</title>
</head>
<body>
<h1>Editar!</h1>
<form method="POST" action="/editar">
<input type="hidden" value="<%= usuario.id %>" name="id" />
Nome<input type="TEXT" id"nome" name="nome" size="40" value="<%= usuario.nome%>"><br>

Email<input type="email" id="email" name="email" size="40" value="<%= usuario.email%>"><br>

Data de Nascimento <input type="date" id="data_de_nascimento" name="data_de_nascimento" size="40" value="<%= usuario.data_de_nascimento%>"><br>


<br>
<input type="submit" id="submit" value="Submit">
</form>
</body>
</html>